<!DOCTYPE html>
<html>
  <head>
    <title>Accounts</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.6/semantic.min.css">

    <%= javascript_include_tag 'application' %>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.6/semantic.min.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
